<?xml version="1.0"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ScreenshotFolder>C:\Users\Xiao\Pictures</ScreenshotFolder>
  <ScreenshotFilename>KanColle-{0:d04}.png</ScreenshotFilename>
  <ScreenshotImageFormat>Png</ScreenshotImageFormat>
  <CanDisplayBuildingShipName>true</CanDisplayBuildingShipName>
  <NotifyBuildingCompleted>false</NotifyBuildingCompleted>
  <NotifyExpeditionReturned>false</NotifyExpeditionReturned>
  <NotifyRepairingCompleted>false</NotifyRepairingCompleted>
  <NotifyFleetRejuvenated>false</NotifyFleetRejuvenated>
  <ProxySettings>
    <IsEnabled>true</IsEnabled>
    <IsEnabledOnSSL>true</IsEnabledOnSSL>
    <ProxyHost>127.0.0.1</ProxyHost>
    <Port>8099</Port>
    <IsAuthRequired>false</IsAuthRequired>
  </ProxySettings>
  <EnableProxy>true</EnableProxy>
  <EnableSSLProxy>true</EnableSSLProxy>
  <ProxyHost>127.0.0.1</ProxyHost>
  <ProxyPort>8099</ProxyPort>
  <TopMost>false</TopMost>
  <OrientationMode>Auto</OrientationMode>
  <MenuIcon>false</MenuIcon>
  <HorizontalSize>
    <X>1280</X>
    <Y>433.33333333333331</Y>
  </HorizontalSize>
  <VerticalSize>
    <X>640</X>
    <Y>1000</Y>
  </VerticalSize>
  <BrowserHorizontalPosition>Left</BrowserHorizontalPosition>
  <BrowserVerticalPosition>Top</BrowserVerticalPosition>
  <Culture>zh-CN</Culture>
  <BrowserZoomFactorPercentage>100</BrowserZoomFactorPercentage>
  <KanColleClientSettings>
    <NotificationShorteningTime>40</NotificationShorteningTime>
    <ReSortieCondition>49</ReSortieCondition>
    <EnableLogging>false</EnableLogging>
    <ViewRangeCalcType>KanColleViewer.Type3</ViewRangeCalcType>
  </KanColleClientSettings>
  <FlashQuality>High</FlashQuality>
  <FlashWindow>Direct</FlashWindow>
</Settings>